.upload {
    font-weight: bold;
    color: #28a745;
    margin-left: 15px;
    line-height: 36px;
}

button {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    background: green;
    font-size: 24pxs;
    font-weight: 500;
    color: #fff;
    border: 1px solid green;
    outline: none;
}
