<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            label="New"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                            (click)="openNew()"
                        ></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="right">
                    <p-fileUpload
                        mode="basic"
                        accept="image/*"
                        [maxFileSize]="1000000"
                        label="Import"
                        chooseLabel="Import"
                        class="mr-2 inline-block"
                    ></p-fileUpload>
                    <button
                        pButton
                        pRipple
                        label="Export"
                        icon="pi pi-upload"
                        class="p-button-help"
                        (click)="dt.exportCSV()"
                    ></button>
                </ng-template>
            </p-toolbar>
            <p-table
                #dt
                [value]="discounts"
                [columns]="cols"
                responsiveLayout="scroll"
                [rows]="5"
                [globalFilterFields]="['name', 'status']"
                [paginator]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedDiscounts"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="id"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">Manage Discount</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Search..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th
                            [pSortableColumn]="col.field"
                            *ngFor="let col of columns"
                        >
                            {{ col.header }}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-discount let-i="rowIndex">
                    <tr>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">#</span>
                            {{ i + 1 }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">ID</span>
                            {{ discount.id }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Name</span>
                            {{ discount.name }}
                        </td>

                        <td style="width: 14%; min-width: 8rem">
                            <span class="p-column-title">Description</span>
                            {{ discount.desc }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Discount Percent</span>
                            {{ discount.discountPercent }}%
                        </td>
                        <td style="width: 14%; min-width: 8rem">
                            <span class="p-column-title"> Active </span>
                            <i
                                *ngIf="discount.active == true"
                                class="pi pi-fw pi-check"
                                style="color: slateblue"
                            ></i>
                            <i
                                *ngIf="discount.active == false"
                                class="pi pi-fw pi-times"
                                style="color: red"
                            ></i>
                            <!-- {{ discount.active }} -->
                        </td>

                        <td>
                            <div class="flex">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="updateDiscountDialog(discount)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-warning"
                                    (click)="deleteDiscount(discount.id)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog
            [(visible)]="discountDialog"
            [style]="{ width: '450px' }"
            header="Discount Details"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Name</label>
                    <input
                        type="text"
                        pInputText
                        id="name"
                        [(ngModel)]="discount.name"
                        required
                        autofocus
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !discount.name
                        }"
                    />
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !discount.name"
                        >Name is required.</small
                    >
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <textarea
                        id="description"
                        pInputTextarea
                        [(ngModel)]="discount.desc"
                        required
                        rows="3"
                        cols="20"
                    ></textarea>
                </div>
                <div class="field">
                    <label for="name">Discount Percent</label>
                    <input
                        type="number"
                        pInputText
                        id="sku"
                        [(ngModel)]="discount.discountPercent"
                        required
                        autofocus
                    />
                </div>
                <div class="field">
                    <label for="name">Active</label>
                    <p-toggleButton
                        [(ngModel)]="discount.active"
                        onLabel="On"
                        offLabel="Off"
                    />
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Cancel"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Save"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="saveDiscount(discount)"
                ></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
